= link_to 'check for new emails', check_for_new_paypal_emails_path

.tabs
  %ul 
    - %w{not_processed processed}.each do |status|
      %li
        %a{:href => "##{status}"}= status.humanize

  - %w{not_processed processed}.each do |status|
    %div{:id => status}
      %table
        %thead
          %tr 
            %th
            %th Subject
            %th Name
            %th Amount
            %th PP Fee
            %th Linked person
            %th Transfered money
            %th In MYOB
        %tbody
          - @paypal_emails = PaypalEmail.send(status)
          - @paypal_emails.each do |paypal_email|
            %tr
              %td= paypal_email.created_at.to_date.to_s
              %td= link_to paypal_email.tmail.subject, paypal_email
              %td= paypal_email.guessed_name
              %td= number_to_currency(paypal_email.guessed_amount_paid, :unit => '')
              %td= number_to_currency(paypal_email.guessed_paypal_fee, :unit => '')
              %td= paypal_email.receipt ? paypal_email.member.name : '–'
              %td.center
                - if paypal_email.transfered_money_out_of_paypal
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')
              %td.center 
                - if paypal_email.recorded_in_accounting_package
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')
        %tfoot
          - @sum_amount_paid = @paypal_emails.inject(0) {|sum, e| sum += e.guessed_amount_paid.to_f}
          - @sum_paypal_fee = @paypal_emails.inject(0) {|sum, e| sum += e.guessed_paypal_fee.to_f}
          %tr
            %td
            %td
            %td Total
            %td= @sum_amount_paid
            %td= @sum_paypal_fee
          %tr
            %td
            %td
            %td Total - Fee
            %td= @sum_amount_paid - @sum_paypal_fee
            

:javascript
  $(".tabs").tabs();
