= link_to 'check for new emails', check_for_new_paypal_emails_path

.tabs
  %ul 
    - %w{not_processed processed}.each do |status|
      %li
        %a{:href => "##{status}"}= status.humanize

  - %w{not_processed processed}.each do |status|
    %div{:id => status}
      %table
        %thead
          %tr 
            %th Subject
            %th Linked person
            %th Amount
            %th Name
            %th Transfered money
            %th In MYOB
        %tbody
          - PaypalEmail.send(status).each do |paypal_email|
            %tr 
              %td= link_to paypal_email.tmail.subject, paypal_email
              %td= paypal_email.receipt ? paypal_email.member.name : '–'
              %td= paypal_email.guessed_amount_paid
              %td= paypal_email.guessed_name
              %td.center
                - if paypal_email.transfered_money_out_of_paypal
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')
              %td.center 
                - if paypal_email.recorded_in_accounting_package
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')

%script{:type => 'text/javascript'}
  $(".tabs").tabs();
