= link_to 'check for new emails', check_for_new_paypal_emails_path

.tabs
  %ul 
    - %w{not_processed processed}.each do |status|
      %li
        %a{:href => "##{status}"}= status.humanize

  - %w{not_processed processed}.each do |status|
    %div{:id => status}
      %table
        %thead
          %tr 
            %th
            %th
            %th Amount
            %th PP Fee
            %th Fees
            %th Linked person
            %th Transfered money
            %th In MYOB
        %tbody
          - @paypal_emails = PaypalEmail.send(status)
          - @paypal_emails.each_with_index do |paypal_email, i|
            %tr
              %td ##{i+1}
              %td= link_to paypal_email.created_at.to_date, paypal_email 
              %td= number_to_currency(paypal_email.guessed_amount_paid, :unit => '')
              %td= number_to_currency(paypal_email.guessed_paypal_fee, :unit => '')
              %td= number_to_currency(paypal_email.guessed_transaction_description, :unit => '')
              %td= paypal_email.receipt ? paypal_email.member.name : '–'
              %td.center
                - if paypal_email.transfered_money_out_of_paypal
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')
              %td.center 
                - if paypal_email.recorded_in_accounting_package
                  = image_tag('icons/accept.png')
                - else
                  = image_tag('icons/cancel.png')
        %tfoot
          - @sum_amount_paid = @paypal_emails.inject(0) {|sum, e| sum += e.guessed_amount_paid.to_f}
          - @sum_paypal_fee = @paypal_emails.inject(0) {|sum, e| sum += e.guessed_paypal_fee.to_f}
          %tr
            %td
            %td Total
            %td= @sum_amount_paid
            %td= @sum_paypal_fee
          %tr
            %td
            %td Total - Fee
            %td= @sum_amount_paid - @sum_paypal_fee

      %hr
      :ruby
        @summary = {}
        @total = 0
        @total_paypal = 0
        @paypal_emails.select {|pe| pe.transfered_money_out_of_paypal? && !pe.recorded_in_accounting_package? }.each do |pe|
          unless pe.guessed_amount_paid.blank? || pe.guessed_paypal_fee.blank?
        
            @total += pe.guessed_amount_paid.to_f
            @total_paypal += pe.guessed_paypal_fee.to_f
          
            if pe.guessed_payments
              pe.guessed_payments.each do |type, fee|
                if @summary[type]
                  @summary[type] += fee
                else
                  @summary[type] = fee
                end
              end
            end
          end
        end
      %h2 Total of fees (transferred out of paypal but not in MYOB)
      %table
        - @summary.each do |type, total_fee|
          %tr
            %td= type
            %td= total_fee
        %tr
          %td Total Income
          %td= @total
        %tr
          %td Total Paypal
          %td= @total_paypal
        %tr
          %th Total Revenue
          %th= @total - @total_paypal

:javascript
  $(".tabs").tabs();
