%div
  = link_to "Start again", fees_annual_path
#membership_fees.column
  %h2 Annual membership fees
  %ul
    %li
      New member?
      %br
      %label.fat_right
        %input{:name => "new_member", :type => :radio, :onclick => 'set_nm(true);'} 
        Yes
      %br
      %label.fat_right
        %input{:name => "new_member", :type => :radio, :onclick => "set_nm(false);"} 
        No
    %li#member_category{:style => 'display:none;'}
      Member type
      - MembershipType.list.select { |mt| mt.fee > 0 }.each do |mt|
        %br
        %label.fat_right
          %input{:name => "category", :type => "radio", :onclick => "set_cat('#{mt.name.downcase}');"} 
          = mt.name
#racking_fees.column{:style => 'display:none'}
  %h2 Racking fees
  %ul
    - AssetType.racks.each do |rack_asset|
      - name_lowercase = rack_asset.name.underscore.gsub(/ /, '_')
      %li{:id => name_lowercase}
        = rack_asset.name
        %br
        - (0..4).each do |i|
          %label.fat_right
            %input{:name => name_lowercase, :type => "radio", :onclick => "set_#{name_lowercase}(#{i});", :checked => (i == 0)} 
            = i
%hr.clear
#totals
  #form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    #total.total_boxes
      %b Total
      %span#total_output (waiting for selections) 
      %br
      %span#total_description
    .total_boxes
      %input{:type => "hidden", :name => "cmd", :value => "_xclick"}
      %input{:type => "hidden", :name => "business", :value => "treasurer@albertsc.org.au"}
      %input{:type => "hidden", :name => "item_name", :value => "Membership Fees", :id => 'paypal_item_name'}
      %input{:type => "hidden", :name => "amount", :value => "0", :id => 'paypal_value'}
      %input{:type => "hidden", :name => "no_shipping", :value => "0"}
      %input{:type => "hidden", :name => "no_note", :value => "1"}
      %input{:type => "hidden", :name => "currency_code", :value => "AUD"}
      %input{:type => "hidden", :name => "lc", :value => "AU"}
      %input{:type => "hidden", :name => "bn", :value => "PP-BuyNowBF"}
      %input{:type => "image", :src => "https://www.paypal.com/en_AU/i/btn/btn_paynowCC_LG.gif", :border => "0", :name => "submit", :alt => "PayPal - Click to pay.", :id => 'payal_button', :style => 'display:none'}
      %img{:alt => "", :border => "0", :src => "https://www.paypal.com/en_AU/i/scr/pixel.gif", :width => "1", :height => "1"}
