!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'main', 'air_budd_form_builder', 'members'
    = javascript_include_tag :defaults
    = yield(:head)
  %body
    #container
      #header
        %h1 Albert Sailing Club
      .site
        #side
          = yield(:side)
        #main
          %h1= yield(:heading) || auto_heading
          %flash
            %notice= flash[:notice] unless flash[:notice].blank?
            %error= flash[:error] unless flash[:error].blank?
          = yield
          #main_footer= ' ' 
    #footer
      .site
        .copyright== Copyright &copy; #{App[:author]} #{Time.now.year}
