!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'main', 'air_budd_form_builder', 'jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'application', 'fees'
    = yield(:head)
  %body{:class => "#{params[:controller]}_#{params[:action]}"}
    #container
      #header
        = link_to '', root_path, :class => 'logo'
        Internal website
      #top
        %ul.actions
          - if current_user
            %li= link_to 'members', members_path
            %li= link_to 'users', users_path
            %li= link_to 'paypal', paypal_emails_path
            %li= link_to 'feedback', feedbacks_path
            %li= link_to 'log out', user_session_path, :method => :delete
          - else
            %li= link_to 'annual fees', fees_annual_path
            %li= link_to 'winter fees', fees_winter_path
            %li= link_to 'committee', new_user_session_path
      #main
        %h1#heading
          %span#pre_heading= yield(:pre_heading)
          = yield(:heading) || auto_heading
        #flash
          .notice= flash[:notice] unless flash[:notice].blank?
          .error= flash[:error] unless flash[:error].blank?
        #content= yield
    #footer
      %ul.actions
        %li= link_to 'fees', fees_index_path
        %li= link_to 'members', members_path
      .copyright== &copy; #{App[:author]} 2008-#{Time.now.year}
