!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/css; charset=utf-8"}
    %title= yield(:title) || App[:name]
    = stylesheet_link_tag 'main', 'air_budd_form_builder', 'jquery-ui-1.7.2.custom'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'application'
    = yield(:head)
  %body
    #container
      #navigation
        = link_to 'members', members_path
        = link_to 'users', users_path
        = link_to 'log out', user_session_path, :method => :delete
      #header
        Internal website
      .site
        #main
          %h1#heading
            %span#pre_heading= yield(:pre_heading)
            = yield(:heading) || auto_heading
          #flash
            .notice= flash[:notice] unless flash[:notice].blank?
            .error= flash[:error] unless flash[:error].blank?
          = yield
          #main_footer= ' ' 
    #footer
      .site
        .copyright== Copyright &copy; #{App[:author]} #{Time.now.year}
