.actions 
  = space
  - if !@member.new_record? && family_member_id
    = link_to 'add related member', new_member_path(:member => {:associated_member_id => family_member_id}) 


%h2 Edit

= error_messages_for :member

- @member.assets.build unless (@member.assets.last && @member.assets.last.new_record?)
- @member.receipts.build unless (@member.receipts.last && @member.receipts.last.new_record?)


#member
  - airbudd_form_for @member do |f|
    %fieldset
      %legend General
      = f.select :membership_type_id, MembershipType.selections, :include_blank => true
      = f.select :associated_member_id, Member.active.family.selections, :include_blank => true, :label => 'Linked to family member'
      = f.text_field :title

      = f.text_field :preferred_name
      = f.text_field :first_name
      = f.text_field :last_name

      = f.text_field :email
      = f.date_select :joined_on, :year_range => (1950..Time.now.year), :include_blank => true
      = f.date_select :date_of_birth, :include_blank => true

    %fieldset
      %legend Address
      = f.text_field :street_address_1
      = f.text_field :street_address_2
      = f.text_field :suburb

      = f.text_field :state
      = f.text_field :postcode
      = f.text_field :country

    %fieldset
      %legend Contact details
      = f.text_field :phone_home
      = f.text_field :phone_work
      = f.text_field :phone_mobile
  
      = f.text_field :emergency_contact_name_and_number, :label => 'Emergency contact details', :size => 100
  
      = f.text_field :spouse_name
  
    %fieldset
      %legend Other details
      = f.text_field :occupation
      = f.text_field :special_skills 
      = f.text_field :sex

      = f.check_box :powerboat_licence

    %fieldset
      %legend Assets
      - f.fields_for :assets do |af|
        .child_record
          = af.select :asset_type_id, AssetType.selections, :include_blank => true
          = af.text_field :details
          - if !af.object.new_record?
            = af.check_box :_delete

    %fieldset
      %legend Receipts
      - f.fields_for :receipts do |r|
        .child_record
          = r.text_field :amount
          = r.text_field :receipt_number
          = r.date_select :payment_expires_on, :include_blank => true
          - if !r.object.new_record?
            = r.check_box :_delete
          
      
    - f.buttons do 
      = f.save
    = link_to 'cancel', members_path
      
      
      