%li{:class => cycle('odd', 'even')}
  .icon
    - if member.active?
      = image_tag 'icons/user_green.png'
    - elsif member.resigned?
      = image_tag 'icons/user_red.png'
  .item{:class => 'name'}= link_to member.name, member_path(member)
  .item{:class => 'membership_type'}= member.membership_type
  .item{:class => 'powerboat_licence'}
    = 'powerboat' if member.powerboat_licence 
  .item{:class => 'ood'}
    = 'OOD' if member.qualified_for_ood 
  .item{:class => 'financial'}
    - if member.financial?
      = image_tag 'icons/flag_green.png'
      %span.hidden financial
    - else 
      = image_tag 'icons/flag_red.png'
      %span.hidden expired
    - if member.current_payment_expires_on
      = member.current_payment_expires_on.to_s("%yy")
    - else
      no info
  .checkbox
    = check_box_tag 'member_ids[]', member.id, select_member?(member)
- if member.associated_members.length > 0
  %ul
    - member.associated_members.each do |child|
      %li= link_to child.first_name, child
    