%tr{:class => cycle('odd', 'even')}
  %td
    = "#{member.last_name}, "
    = member.first_name
  %td= member.membership_type
  %td
    = member.assets.collect { |a| "#{a.details}" }.join(', ')
  %td= link_to 'edit', edit_member_path(member)