- p = @member.previous(:active, :principals)
- n = @member.next(:active, :principals)

- content_for :heading, @member.name
- content_for :pre_heading do
  - if p
    = link_to '&lt;', p
  - else 
    = space
  - if n
    = link_to '&gt;', n
  - else 
    = space

= render 'form'
